/* FASTER */

#faster {
  padding: 24px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

#faster h1 {
  margin-bottom: 16px;
}

#faster img {
  width: 179px;
  height: 66px;
}

/* TABLET */

@media (max-width: 768px) {
  #faster {
    flex-direction: row;
    align-items: center;
  }
}

/* MOBILE */

@media (max-width: 375px) {}