/* GROW */

#grow {
  padding: 24px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

#grow h2 {
  color: var(--color-white);
}

#grow img {
  width: 50%;
  max-width: 227.68px;
  height: auto;
}

/* TABLET */

@media (max-width: 768px) {
  #grow {
    justify-content: center;
    gap: 40px;
  }

  #grow h2 {
    width: 257px;
  }
}

/* MOBILE */

@media (max-width: 375px) {
  #grow {
    flex-direction: column;
  }

  #grow img {
    width: 100%;
    max-width: 228px;
  }
}