/* MAINTAIN */

#maintain {
  padding: 24px 24px 0px 24px;
  overflow: hidden;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: start;
  gap: 16px;
}

#maintain img {
  width: 100%;
  max-width: 208px;
  height: auto;
  flex-shrink: 0;
  object-fit: contain;
}

/* MOBILE */

@media (max-width: 375px) {
  #maintain {
    padding: 16px;
  }
}