/* SCHEDULE */

#schedule {
  gap: 24px;
  padding: 32px;
  overflow: hidden;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#schedule img {
  min-width: 357px;
  width: 357px;
  height: 318px;
  flex-shrink: 0;
  object-fit: contain;
}

/* TABLET */

@media (max-width: 768px) {
  #schedule {
    align-items: center;
  }

  #schedule p {
    max-width: 360px;
    text-align: center;
  }
}

/* MOBILE */

@media (max-width: 375px) {}