/* SOCIAL MEDIA */

#social-media {
  color: var(--color-white);
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  align-items: center;
  padding: 32px;
  gap: 24px;
}

.review {
  align-items: center;
  gap: 8px;
}

.stars {
  width: 192px;
}

/* TABLET */

@media (max-width: 768px) {
  #social-media h1 {
    width: 536px;
  }
}

/* MOBILE */

@media (max-width: 375px) {
  #social-media {
    padding: 40px 32px;
  }

  #social-media h1 {
    width: 276px;
  }
}