/* WRITE */

#write {
  padding: 24px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow: hidden;
}

#write h2 {
  max-width: 200px;
}

#write img {
  height: 222.5px;
  min-width: 219.95px;
  width: 219.95px;
  flex-shrink: 0;
  object-fit: contain;
}

/* TABLET */

@media (max-width: 768px) {
  #write h2 {
    max-width: 280px;
  }
}

/* MOBILE */

@media (max-width: 375px) {}