/* import font */

@font-face {
  font-family: 'DMSans';
  src: url('../../fonts/DMSans.ttf') format('truetype');
}

@font-face {
  font-family: 'DMSans-Italic';
  src: url('../../fonts/DMSans-Italic.ttf') format('truetype');
}

/* text presets */

.text-preset-1,
h1 {
  font-family: 'DMSans';
  font-size: 62px;
  font-weight: 500;
  line-height: 93.5%;
  letter-spacing: -3px;
}

.text-preset-2,
h2 {
  font-family: 'DMSans';
  font-size: 40px;
  font-weight: 500;
  line-height: 90%;
  letter-spacing: -2px;
}

.text-preset-3,
h3 {
  font-family: 'DMSans';
  font-size: 32px;
  font-weight: 500;
  line-height: 87.5%;
  letter-spacing: -1px;
}

.text-preset-4,
p {
  font-family: 'DMSans';
  font-size: 18px;
  font-weight: 400;
  line-height: 111%;
  letter-spacing: 0px;
}

/* CUSTOM */

.text-yellow {
  color: var(--color-yellow-500);
}

.text-purple {
  color: var(--color-purple-500);
}

.text-italic {
  font-family: 'DMSans-Italic';
}

/* TABLET */

@media (max-width: 768px) {

  .text-preset-1,
  h1 {
    font-size: 54px;
    line-height: 48px;
  }

  .text-preset-2,
  h2 {
    font-size: 36px;
    line-height: 30px;
  }

  .text-preset-3,
  h3 {
    font-size: 28px;
    line-height: 26px;
  }
}

/* MOBILE */

@media (max-width: 375px) {

  .text-preset-1,
  h1 {
    font-size: 46px;
    line-height: 42px;
    letter-spacing: calc(46px * -0.04);
  }

  .text-preset-2,
  h2 {
    font-size: 32px;
    line-height: 28px;
    letter-spacing: calc(32px * -0.06);
  }

  .text-preset-3,
  h3 {
    font-size: 26px;
    line-height: 24px;
    letter-spacing: calc(26px * -0.06);
  }
}